.addedPost {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
.border {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.update{
    display: flex;
}
.update p{
    margin-left: 20px;
    margin-top: 25px;
}
.content{
    display: flex;
}
.title2 {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  width: 10px;
}
.textarea {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  height: 150px;
  width: 300px;
}
