.container1{
    /* background-color: #F0F7F6;22 */
    /* display: flex; */
    width: 290px;
    height: 150px;
    /* margin-left: 10px; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: #3d89f31a 0px 0px 0px 1px;

    /* margin-right: 10px; */
}
.iconWithTable{
    display: flex;
    gap: 10px;
    font-family: system-ui;
}
.subtitle{
    text-align: justify;
    cursor: pointer;
    font-size: 12px;
}

.icon{
    font-size: 17px;
}
